body{
    padding: 0px 0px 15px 0px;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #2EC1AC;
    padding: 50px;
}

header #header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-left h1{
    color: yellow;
}

#header-left p{
    color: white;
}

#info{
    display: flex;
    margin: 50px 0 50px 0;
    flex-direction: row;
    justify-content: space-evenly;
}


#info div{
    padding: 1%;
    border: 5px solid black;
    border-radius: 5px;
}

#info div img{
    width: 300px;
}

#buttondiv{
    display: flex;
    justify-content: center;

}

body button{
    border: none;
    font-size: 30px;
    border-radius: 13px;
    padding: 5px 10px 5px 10px;
    background-color: #2EC1AC;
    color: white;
}

#buttondiv button a{
    text-decoration: none;
    color: white;
}